.mainBlock {
  display: grid;
  grid-template-columns: 8fr 2fr;
  grid-column-gap: 20px;
}
.mainBlock aside {
  border: 1px solid #c1c1c180;
  border-radius: 12px;
  padding-bottom: 10px;
}
.videoBlock {
  position: relative;
}
.videoBlock video {
  border-radius: 12px;
  height: 100%;
}
.eventBlock {
  position: absolute;
  background: greenyellow;
}
.eventsList__header {
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid #c1c1c180;
  padding: 10px 0px;
  margin: 0px 20px 10px 20px;
}
.eventsList {
  height: calc(100vh - 232px);
  overflow: auto;
  display: grid;
  grid-row-gap: 6px;
}
.eventsList__item {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}
.eventsList__item_active {
  background: #c1c1c180;
}
.eventsList__actions {
  margin: 0px 20px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  border-top: 1px solid #c1c1c180;
}
.eventsList__actions button {
  border: none;
  background: #c1c1c1cc;
  border-radius: 4px;
  cursor: pointer;
}
.eventsList__actions button:hover {
  background: #c1c1c1;
}